# Ignore Kubernetes secrets
kubernetes/secret.yaml

# Ignore config files
terraform/.env

# Ignore terraform files
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfstate.lock.info
terraform/*.terraform.lock.hcl

# Ignore AKS files
terraform/kubeconfig*
